html, body{
	width:100%;
	height: 100%;
	font-family: 'Orbitron', sans-serif;
	margin: 0;
	overflow-x: hidden;
}
.container{
	width: 100%;
	height: 100%;
	margin: 0;
	background: white;
}

.header{
	width:100%;
	height: 32px;
	background-color:black ;
	padding-top: 10px;
	position: fixed;
	z-index: 3;
}
.header-b{
	position: fixed;
	top:0;
	right: 0;
	display: inline;

	width:100%;
	height: 32px;
	background-color:black;
	padding-top: 10px;
	font-weight: 800;
	z-index: 4;
	border-bottom: 2px solid white;
}
.header-tex{
	color:white;
	float:right;
	font-family: 'Orbitron', sans-serif;
	padding-right: 15px;
	cursor:context-menu;
	font-weight: 800;
}

.header-nam{
	color:white;
	float:left;
	font-family: 'Orbitron', sans-serif;
	padding-left: 25px;
}
.header-tex-long{
	display: none;
	padding-right: 20px;
	color: white;
	font-family: 'Orbitron', sans-serif;
}

#about-h{
	padding-top:35px;
	margin-bottom: 0;
}
p{
	margin-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 0.9em;
}



.dropdown{
	display: none;
	position: fixed;
    top:40px;
    right:10px;
	width:130px;
	margin-top: 10px;
	padding-right: 15px;
	background: #f4f4f4;
	padding: 5px 5px 5px 0;
	z-index: 1;
    box-shadow: 5px 5px 5px #888888;
}
.header-tex-drop{
	margin-left: 10px;
	font-family: 'Orbitron', Sans-Serif;
	font-weight: bold;
}
/*------------------------------------------------------------------------*/
.about{
	width:100%;
	height: 100%;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
	display: flex;
	flex-wrap: wrap;
	overflow-y: hidden;
}
.about-fir{
	margin-top: 40px;
	width: 150px;
	height: 25%;
	order: 0;
	padding-top:10px;
	background: black;
	color: white;
		overflow-y: hidden;
}
ul{
	float: right;
	padding-left: 0;
}
.list-n{
	font-size: 2.7em;
	float:right;
	padding-right: 5px;
}
.list-w{
	padding-left: 35px;
	line-height:1.8;
	padding-right: 5px;
	font-size: 1.2em;
	font-weight: 900;
}
.about-sec{
	margin-top: 40px;
	width: 130px;
	height: 25%;
	padding-top:10px;
	order: 1;
	background: white;
		overflow-y: hidden;
}
.pr{
	float: left;
	padding-left: 2px;
	
}
.ltwo{
	line-height:1.8;
	font-size: 1.2em;
	font-weight: 900;
}
.llo{
	float: left;
}

.about-thi{
	width: 100%;
	height: 75%;
	order: 2;
	background: white;
		overflow-y: hidden;
}
.about-img{
width:150px;
height: 100%;
background: black;
}
img{
	margin-top:20px;
	width:230px;
	padding: 10px 10px 10px 10px;
	border: 5px solid white;
	margin-left: 30px;
}
/*---------------------------------------------------------------*/
.portfolio{
	width: 100%;
	height: 100%;
	display: flex;
	background:white;
}
.left{
	width:150px;
	height: 100%;
	background: black;
	order: 0;
}

.container-b{
	width: 80%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-end;
	order:1;
}
.one, .two, .three{
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 10px;

}
.top{
	background: white;
	width:100%;
	height: 10px;
}
.one{
	background: red;
	width:90%;
	flex:1;
}
.two{
	background: black;
	width:90%;
	flex:1;
}
.three{
	background: blue;
	width:90%;
	flex:1;
}

@media(min-height: 400px) and (min-width: 321px){

	.header-tex{
		padding-top:5px;
	}
	.header, .header-b{
		height:40px;
	}
	
	 .header-nam{
		font-size:1.3em;
		font-family: 'Orbitron', sans-serif;
	}
	.about-fir, .about-sec{
		margin-top:50px;
	}
	.about-img, .about-fir{
		width:180px;
	}
	img{
		width:270px;
	}
}
@media(min-width:560px){
	.header-tex, .dropdown{
		display:none;
	}
	.header-tex-long{
		padding-top:9px;
		font-size:0.8em;
		display:inline;
		float:right;
	}
	
}

@media(min-width: 800px){
	.pp, .cc{
		padding-right:130px;
	}
}
@media(min-height: 440px) and (min-width: 900px){
	.about-img, .about-fir{
		width:240px;
	}
	img{
		width:400px;
	}
}



/*-----*/
